.Header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 0;
}

.Panel {
  display: flex;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.undo {
  margin-left: auto;
}